# PHP Tools
.phpunit.result.cache
.phpunit.cache
phpunit.xml.bak
phpcs.xml.bak

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store

# Build
dist/
build/
*.zip
vendor

# Coverage reports
coverage/
coverage-clover.xml
coverage-html/
coverage.serialized

# Logs
*.log
error_log
debug.log

# Temp
.tmp/
tmp/
*.tmp
*.bak
*.swp
*~
.php-cs-fixer.cache
